input[type="password"] {
    font-size: 60px; /* Увеличивает только кружочки */
    line-height: normal; /* Оставляет высоту строки стандартной */
    caret-color: transparent;
}

input::placeholder {
    font-size: 18px;
}